body {
    background: powderblue;
    margin: 0;
}

.header-container {
    background: cadetblue;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 4fr;
    height: 50px;
    align-items: center;
}

.logo {
    margin-left: 40px;
    font-size: 25px;
}

.header-item {
    height: 100%;
    width: 100%;
    line-height: 50px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
}

.header-item:hover {
    cursor: pointer;
    background: darkcyan;
}

.header-container > a {
    text-decoration: none;
    color: black;
}

.content {
    margin: 20px;
}

.about-item {
    display: grid;
}

.odd {
    grid-template-columns: 1fr 2fr;
}

.even {
    grid-template-columns: 2fr 1fr;
}

.about-photo > img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.about-text {
    text-align: justify;
    margin: 15px;
}

#feature {
    display: grid;
    grid-template-rows: 600px 40px;
}

.feature {
    display: grid;
    grid-template-rows: 100px 400px 100px;
    align-items: center;
    justify-items: center;
}

.feature img {
    height: 100%;
    width: 30%;
}

.feature-paginator {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.feature-paginator button {
    border: none;
    background: cadetblue;
    cursor: pointer;
    border-radius: 20px;
}

.subscribe-text {
    width: 50%;
    margin: auto;
    text-align: justify;
}

.subscribe-form {
    margin-top: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 50%;
    margin: auto;
}

input {
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

#submit-form {
    grid-column: 1 / 3;
    border: none;
    height: 40px;
    border-radius: 15px;
    background: darkcyan;
    font-size: 15px;
}

#submit-form:hover {
    cursor: pointer;
    opacity: 60%;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 40px;
    align-items: center;
}

.footer-item {
    text-align: center;
}

.footer-item > a {
    text-decoration: none;
    color: black;
}

.footer-item > a:hover {
    text-decoration: underline;
}